:root {
  --primary-color: #ffc107;
  --secondary-color: #ff9800; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 1.6rem 2rem;
}

.nav {
  background-color: var(--secondary-color);
  padding: 1rem 0px;
  width: 100%;
  display: flex; 
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.4rem;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}