.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd600;
  padding: 1.6rem 2rem;
}

.nav {
  width: 30%;
  display: flex; 
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.4rem;
}

.nav a:hover {
  text-decoration: underline;
}